<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;harvester - byond</title>
</head>
<body>
<header>
    <a href="index.html">byond</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/harvester.html#var">Var Details</a> - <a href="datum/component/harvester.html#proc">Proc Details</a></header>
<main>
<h1>harvester <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/harvester.html">harvester</a></aside>
        
    
            <a href="https://github.com/Skyrat-SS13/Skyrat-tgmc/blob/3991d5e1c53e2012ff7f633c4ac6ca9e768afc76/code/datums/components/harvester.dm#L1">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;harvester.dm 1"/></a></h1>

<table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/harvester.html#var/beaker">beaker</a></th><td>Beaker sets volume of internal storage</td></tr>
            <tr><th><a href="datum/component/harvester.html#var/force">force</a></th><td>Force is used to define damage dealt by tramadol reagent</td></tr>
            <tr><th><a href="datum/component/harvester.html#var/loadable_reagents">loadable_reagents</a></th><td>List of loadable reagents</td></tr>
            <tr><th><a href="datum/component/harvester.html#var/loaded_reagent">loaded_reagent</a></th><td>Loaded reagent</td></tr><tr><td colspan="2"><h2>Procs</h2></td></tr>
            <tr><th><a href="datum/component/harvester.html#proc/activate_blade">activate_blade</a></th><td>Signal handler calling activation of the harvester</td></tr>
            <tr><th><a href="datum/component/harvester.html#proc/activate_blade_async">activate_blade_async</a></th><td>Handles behavior when activating the weapon</td></tr>
            <tr><th><a href="datum/component/harvester.html#proc/attack">attack</a></th><td>Signal handler calling when user attacks</td></tr>
            <tr><th><a href="datum/component/harvester.html#proc/attack_async">attack_async</a></th><td>Handles behavior when attacking a mob</td></tr>
            <tr><th><a href="datum/component/harvester.html#proc/attackby">attackby</a></th><td>Signal handler calling when user is filling the harvester</td></tr>
            <tr><th><a href="datum/component/harvester.html#proc/attackby_async">attackby_async</a></th><td>Handles behavior for when item is clicked on</td></tr>
            <tr><th><a href="datum/component/harvester.html#proc/examine">examine</a></th><td>Adds additional text for the component when examining the item</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/beaker"><aside class="declaration">var </aside>beaker
            <aside>&ndash; /<a href="obj.html">obj</a>/<a href="obj/item.html">item</a>/reagent_containers/glass/beaker/vial</aside>
        
    
            <a href="https://github.com/Skyrat-SS13/Skyrat-tgmc/blob/3991d5e1c53e2012ff7f633c4ac6ca9e768afc76/code/datums/components/harvester.dm#L5">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;harvester.dm 5"/></a></h3>
        <p>Beaker sets volume of internal storage</p><h3 id="var/force"><aside class="declaration">var </aside>force
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/Skyrat-SS13/Skyrat-tgmc/blob/3991d5e1c53e2012ff7f633c4ac6ca9e768afc76/code/datums/components/harvester.dm#L3">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;harvester.dm 3"/></a></h3>
        <p>Force is used to define damage dealt by tramadol reagent</p><h3 id="var/loadable_reagents"><aside class="declaration">var </aside>loadable_reagents
            <aside>&ndash; /static/list</aside>
        
    
            <a href="https://github.com/Skyrat-SS13/Skyrat-tgmc/blob/3991d5e1c53e2012ff7f633c4ac6ca9e768afc76/code/datums/components/harvester.dm#L9">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;harvester.dm 9"/></a></h3>
        <p>List of loadable reagents</p><h3 id="var/loaded_reagent"><aside class="declaration">var </aside>loaded_reagent
            <aside>&ndash; /<a href="datum.html">datum</a>/<a href="datum/reagent.html">reagent</a></aside>
        
    
            <a href="https://github.com/Skyrat-SS13/Skyrat-tgmc/blob/3991d5e1c53e2012ff7f633c4ac6ca9e768afc76/code/datums/components/harvester.dm#L7">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;harvester.dm 7"/></a></h3>
        <p>Loaded reagent</p><h2 id="proc">Proc Details</h2><h3 id="proc/activate_blade"><aside class="declaration">proc </aside>activate_blade<aside>(/<a href="datum.html">datum</a>/source, /<a href="mob.html">mob</a>/user) 
        
    
            <a href="https://github.com/Skyrat-SS13/Skyrat-tgmc/blob/3991d5e1c53e2012ff7f633c4ac6ca9e768afc76/code/datums/components/harvester.dm#L128">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;harvester.dm 128"/></a></aside>
        </h3>
        <p>Signal handler calling activation of the harvester</p><h3 id="proc/activate_blade_async"><aside class="declaration">proc </aside>activate_blade_async<aside>(/<a href="datum.html">datum</a>/source, /<a href="mob.html">mob</a>/user) 
        
    
            <a href="https://github.com/Skyrat-SS13/Skyrat-tgmc/blob/3991d5e1c53e2012ff7f633c4ac6ca9e768afc76/code/datums/components/harvester.dm#L91">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;harvester.dm 91"/></a></aside>
        </h3>
        <p>Handles behavior when activating the weapon</p><h3 id="proc/attack"><aside class="declaration">proc </aside>attack<aside>(/<a href="datum.html">datum</a>/source, /<a href="mob.html">mob</a>/<a href="mob/living.html">living</a>/target, /<a href="mob.html">mob</a>/<a href="mob/living.html">living</a>/user, /<a href="obj.html">obj</a>/<a href="obj/item.html">item</a>/weapon) 
        
    
            <a href="https://github.com/Skyrat-SS13/Skyrat-tgmc/blob/3991d5e1c53e2012ff7f633c4ac6ca9e768afc76/code/datums/components/harvester.dm#L133">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;harvester.dm 133"/></a></aside>
        </h3>
        <p>Signal handler calling when user attacks</p><h3 id="proc/attack_async"><aside class="declaration">proc </aside>attack_async<aside>(/<a href="datum.html">datum</a>/source, /<a href="mob.html">mob</a>/<a href="mob/living.html">living</a>/target, /<a href="mob.html">mob</a>/<a href="mob/living.html">living</a>/user, /<a href="obj.html">obj</a>/<a href="obj/item.html">item</a>/weapon) 
        
    
            <a href="https://github.com/Skyrat-SS13/Skyrat-tgmc/blob/3991d5e1c53e2012ff7f633c4ac6ca9e768afc76/code/datums/components/harvester.dm#L112">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;harvester.dm 112"/></a></aside>
        </h3>
        <p>Handles behavior when attacking a mob</p><h3 id="proc/attackby"><aside class="declaration">proc </aside>attackby<aside>(/<a href="datum.html">datum</a>/source, /<a href="obj.html">obj</a>/<a href="obj/item.html">item</a>/cont, /<a href="mob.html">mob</a>/user) 
        
    
            <a href="https://github.com/Skyrat-SS13/Skyrat-tgmc/blob/3991d5e1c53e2012ff7f633c4ac6ca9e768afc76/code/datums/components/harvester.dm#L123">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;harvester.dm 123"/></a></aside>
        </h3>
        <p>Signal handler calling when user is filling the harvester</p><h3 id="proc/attackby_async"><aside class="declaration">proc </aside>attackby_async<aside>(/<a href="datum.html">datum</a>/source, /<a href="obj.html">obj</a>/<a href="obj/item.html">item</a>/cont, /<a href="mob.html">mob</a>/user) 
        
    
            <a href="https://github.com/Skyrat-SS13/Skyrat-tgmc/blob/3991d5e1c53e2012ff7f633c4ac6ca9e768afc76/code/datums/components/harvester.dm#L46">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;harvester.dm 46"/></a></aside>
        </h3>
        <p>Handles behavior for when item is clicked on</p><h3 id="proc/examine"><aside class="declaration">proc </aside>examine<aside>(/<a href="datum.html">datum</a>/source, /<a href="mob.html">mob</a>/user) 
        
    
            <a href="https://github.com/Skyrat-SS13/Skyrat-tgmc/blob/3991d5e1c53e2012ff7f633c4ac6ca9e768afc76/code/datums/components/harvester.dm#L39">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;harvester.dm 39"/></a></aside>
        </h3>
        <p>Adds additional text for the component when examining the item</p></main>
<footer>
    tgmc.dme
    <a href="https://github.com/Skyrat-SS13/Skyrat-tgmc/tree/3991d5e1c53e2012ff7f633c4ac6ca9e768afc76">3991d5e</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/src/dmdoc/README.md">dmdoc 1.4.1</a></footer>
</body>
</html>
